= link_to path, method: method, class: 'btn btn-sm btn-default btn-primary event_btn_signup', style: 'width:100%;', target: '_blank'
  i.fa.fa-calendar.icon_sign_up.event_icon_signup
  '&nbsp;
  = text
