span.label class="label-#{eventbookingstatus.color}" data-toggle="tooltip" data-placement="top" title="#{eventbookingstatus.description}"
  i class="fa #{eventbookingstatus.icon}"
  |&nbsp;
  = eventbookingstatus