= link_to signup_new_request_path(event), class: "btn btn-sm btn-default btn-primary event_btn_signup", style: "width:100%;"
  i.fa.fa-calendar.icon_sign_up.event_icon_signup
  '&nbsp;
  = t(:send_request)
