- unless defined? info_icon
  - info_icon = "fa-info-circle"

i.fa class="#{info_icon}" data-toggle="popover" data-trigger="hover" data-placement="top" title="#{info_title}" data-content="#{info_text}"
