= link_to main_app.admin_paymentplanfeatures_setvalue_path(paymentplanfeature, locale: I18n.locale), method: "get", remote: true, data: {type: "html"}, class: "paymentplanfeatures-remote-call" do
  i.fa.fa-minus
