= link_to main_app.admin_paymentplanfeatures_setvalue_path(paymentplanfeature, locale: I18n.locale), method: "get", remote: true, class: "paymentplanfeatures-remote-call" , data: {type: "html"} do
  i.fa.fa-check
