.container-fluid
  = simple_form_for :event, url: nil, method: :get, html: { id: "wc_filter_form", class: 'wundercoach_filter_form' } do |f|
    .row
      .col-xs-12
        h4.wundercoach_event_search_headline
          = t(:event_search)
      .col-sm-6
        = f.input :search_by_eventtemplate_id, required: false, label: t(:eventtemplate),
                  input_html: { value: @filters['search_by_eventtemplate_id'], style: "display: none;width: 100%;", class: "wundercoach_event_search_by_eventtemplate" }
        = f.input :search, required: false, label: t(:event_search_name),
                  input_html: { value: @filters['search'], style: "width: 100%;", class: "wundercoach_event_search" }
        = f.input :search_by_type, collection: Eventtype.all,
                  label_method: :to_s, value_method: :id,
                  selected: @filters['search_by_type'],
                  required: false, label: t(:search_by_type),
                  include_blank: true,
                  input_html: { \
                    class: 'chosen-select wundercoach_event_search_by_type',
                    style: 'width: 100%;',
                    data: { \
                      placeholder: t(:enter_type) \
                    } \
                  }
        = f.input :search_by_tags, collection: Product::Tag.by_name,
                  label_method: :to_s, value_method: :id,
                  selected: @filters['search_by_tags'],
                  required: false, label: t(:search_by_tags),
                  include_blank: true,
                  input_html: { \
                    class: 'chosen-select wundercoach_event_search_by_tags',
                    style: 'width: 100%;',
                    data: { \
                      placeholder: t(:enter_type) \
                    } \
                  }
        / siliconplanet or ruth-cohn
        - if @widget.account.id == 1 or @widget.account.id == 86 or @widget.account.id == 1416
          = f.input :search_by_coaches, collection: Coach.active.by_name,
                    label_method: :to_s, value_method: :id,
                    selected: @filters['search_by_coaches'],
                    required: false, label: t(:search_by_coach),
                    include_blank: true,
                    input_html: { \
                      class: 'chosen-select wundercoach_event_search_by_coaches',
                      style: 'width: 100%;',
                      data: { \
                        placeholder: t(:enter_type) \
                      } \
                    }
      .col-sm-6.text-center
        label &nbsp;
        = f.button :button, class: "button btn btn-primary wundercoach_event_search_submit", name: nil, style: "width: 100%;"
          i.fa.fa-search
          |&nbsp;
          = t(:start_search)
      .col-sm-6.text-center
        label &nbsp;
        = f.button :button, class: "button btn btn-secondary wundercoach_event_search_reset", id: "form-reset-button", name: nil, style: "width: 100%;"
          = t(:show_all)
