script src="//maps.google.com/maps/api/js?v=3.23&sensor=false&client=&key=AIzaSyAxjS_O7x8mXyVV6_ftf8qe6YTIGmy0huA&libraries=geometry&language=&hl=&region=" type="text/javascript"
script src='//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js' type='text/javascript'
javascript:
  $(window).load(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
      {
        "lat": "#{location.latitude}",
        "lng": "#{location.longitude}",
        "infowindow": "#{location.eventorganizer_name}<br>#{location.location_name}",
        "picture": {
        "url": "#{location.icon.url(:marker)}",
        "width":  32,
        "height": 32
        }
      }
    ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(18);
    });
  });
