.row
  .col-xs-12.text-center.footer
    |Wundercoach UG (haftungsbeschränkt) | Pestalozzistr. 25 | 22305 Hamburg
    br
    |Geschäftsführer Stefan Lütge | Handelsregister Hamburg HRB 134205 | UST-ID DE88372923
